# https://github.com/github/linguist/blob/master/docs/overrides.md#using-gitattributes

# Build output
*.css linguist-generated
*.js  linguist-generated
src/ui/index.html linguist-generated

# SQL files (PLpgSQL)
*.sql linguist-vendored
*.html linguist-vendored

# Documentation
*.md linguist-documentation
*.mdx linguist-documentation

# Installer scripts (website/static/install/install.sh, install.ps1)
*.sh
*.ps1

# Lock files
*.lockb           linguist-generated
Cargo.lock        linguist-generated
package-lock.json linguist-generated

# Build dist
dist/**/* linguist-generated

# Script Files
scripts/**/* linguist-generated

# Generated JSON schemas
src/core/gen/**/* linguist-generated

# Docusaurus docs
website/docs/**/*
website/blog/**/*
